// Color variables
$blue: rgb(0, 132, 255);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;

    main {
        margin: 0 auto;
        margin-top: 40px;
        max-width: 605px;
        min-height: 490px;
        background-color: beige;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1 fr 30px 110px;
        padding: 15px;

        // Slider
        .slider {
            width: 100%;
            height: 100%;
            border: 1px gray solid;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 88% 15px 40px;

            // Image block
            &-image_block {
                background-color: tomato;
                width: 100%;
                overflow: hidden;
                position: relative;
            }

            // Pagination
            &-pagination {
                width: 100%;
                border: 1px solid rgb(148, 112, 112);
                display: flex;
                justify-content: center;
                align-items: center;

                &_item {
                    width: 9px;
                    height: 9px;
                    border: 1.5px solid $blue;
                    border-radius: 50%;
                    margin-right: 7px;
                }

                .active {
                    border: none;
                    background-color: $blue;
                }
            }

            // Control block
            &-control {
                display: flex;
                justify-content: center;
                align-items: center;

                // Button
                &_btn {
                    width: 35px;
                    height: 35px;
                    background: none;
                    border: 3.5px solid $blue;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 18px;

                    &:hover {
                        filter: grayscale(50%);
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                    .toBegin {
                        -webkit-mask-size: cover;
                        mask-size: cover;
                        -webkit-mask-image: url(../img/icon/step-backward.svg);
                        mask-image: url(../img/icon/step-backward.svg);
                        background-color: $blue; // or any color of your choice.
                        width: 65%;
                        height: 70%;
                    }

                    .backward {
                        -webkit-mask-size: cover;
                        mask-size: cover;
                        -webkit-mask-image: url(../img/icon/backward.svg);
                        mask-image: url(../img/icon/backward.svg);
                        background-color: $blue; // or any color of your choice.
                        width: 70%;
                        height: 70%;
                    }

                    .start {
                        -webkit-mask-size: cover;
                        mask-size: cover;
                        -webkit-mask-image: url(../img/icon/play.svg);
                        mask-image: url(../img/icon/play.svg);
                        background-color: $blue; // or any color of your choice.
                        width: 60%;
                        height: 70%;
                    }

                    .forward {
                        -webkit-mask-size: cover;
                        mask-size: cover;
                        -webkit-mask-image: url(../img/icon/forward.svg);
                        mask-image: url(../img/icon/forward.svg);
                        background-color: $blue; // or any color of your choice.
                        width: 70%;
                        height: 70%;
                    }

                    .toEnd {
                        -webkit-mask-size: cover;
                        mask-size: cover;
                        -webkit-mask-image: url(../img/icon/step-forward.svg);
                        mask-image: url(../img/icon/step-forward.svg);
                        background-color: $blue; // or any color of your choice.
                        width: 65%;
                        height: 70%;
                    }
                }
            }
        }
    }
}
